.container {
    display: flex;
}

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }
    .product-area {
        flex-direction: column;
    }
    .overview-area {
        flex-direction: column !important;
    }
}
.product-area {
    flex: 20 1 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.cart-area {
    flex: 1 0 300px;
    padding: 10px;
}

.overview-area {
    display: flex;
    flex-direction: row;
}
.description-area {
    margin-top: 25px;
    padding: 20px;
}

.image {
    flex: 1 1 0;
}
.overview {
    flex: 1 1 0;
    margin-left: 10px;
}
.overview-card {
    height: 100%;
}


.class1 {
    
}

.class2 {

}

.class3 {

}